# 3GPI SIM5320 mm_candidate port

ACTION!="add|change|move", GOTO="3gpi_mm_candidate_end"
SUBSYSTEM=="tty", ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9000", GOTO="3gpi_mm_candidate_go"
GOTO="3gpi_mm_candidate_end"

LABEL="3gpi_mm_candidate_go"

# DIAG port
KERNEL=="ttyUSB*", ENV{ID_USB_INTERFACE_NUM}=="00", ENV{ID_MM_CANDIDATE}="0"

# NMEA port
KERNEL=="ttyUSB*", ENV{ID_USB_INTERFACE_NUM}=="01", ENV{ID_MM_CANDIDATE}="0"

# AT command port
KERNEL=="ttyUSB*", ENV{ID_USB_INTERFACE_NUM}=="02", ENV{ID_MM_CANDIDATE}="0"

# MODEM port
KERNEL=="ttyUSB*", ENV{ID_USB_INTERFACE_NUM}=="03", ENV{ID_MM_PLATFORM_DRIVER_PROBE}="1", ENV{ID_MM_CANDIDATE}="1"

LABEL="3gpi_mm_candidate_end"

