Source: 3gpi-network-manager
Section: net
Priority: optional
Maintainer: Masahiro Honda <honda@mechatrax.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.mechatrax.com/

Package: 3gpi-network-manager
Architecture: all
Depends: ${misc:Depends}, systemd, network-manager (>= 0.9.10), modemmanager (>= 1.2.0), 3gpi-utils
Description: NetworkManager settings for 3GPI
 This package contains udev rules and APN settings for using 3GPI with NetworkManager.
